@using BarEventPlannerV2.Models
@model Event


<div class="card mb-3">
	<div class="card-body">
		
		@*Titel & Id same row*@
		<div class="row">
			<div class="col-6">
				<h5 class="card-title">@Model.Titel</h5>
			</div>
			<div class="col-6">
				<h5 class="card-title text-end">Id: @Model.Id</h5>
			</div>

			@*Godkendt / Status*@
			@if (Model.Godkendt == true)
			{
				<p class="card-text text-success">Godkendt</p>
			}
			else
			{
				<p class="card-text text-warning">Afventer bekræftelse</p>
			}


			@*Privat*@
			@if (Model.PrivatEvent == true)
			{
				<p class="card-text">Adgang: privat</p>
			}
			else
			{
				<p class="card-text">Adgang: offentlig</p>
			}

			@*Antal Personer*@
			<p class="card-text">Antal Personer: @Model.AntalPersoner</p>

			@*Eventuel kunde*@
			<div class="row mb-3">
				<div class="col-3">
					<p class="card-text">Kunde: @Model.Kunde.Fornavn @Model.Kunde.Efternavn</p>
				</div>
				<div class="col-3">
					<p class="card-text">Telefonnummer: @Model.Kunde.Telefonnummer</p>
				</div>
			</div>

			<p class="card-text">@Model.Beskrivelse</p>
			
			@*<p class="card-text">@Model.Kommentar</p>*@
			
		</div>
	</div>
</div>
		
		
			
				

