@page
@model BarEventPlannerV2.Pages.Event.BookEventModel
@{
}
<h1>BookEvent</h1>

<h2>Hvem er du?</h2>

<form method="post">
    <div class="container">
		
		@*For- og efternavn Row*@
        <div class="row">
            <div class="col">
                <div class="form-group">
                    <label asp-for="@Model.Kunde.Fornavn" class="control-label"></label>
                    <input asp-for="@Model.Kunde.Fornavn" class="form-control" />
                    <span asp-validation-for="@Model.Kunde.Fornavn" class="text-danger"></span>
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <label asp-for="@Model.Kunde.Efternavn" class="control-label"></label>
                    <input asp-for="@Model.Kunde.Efternavn" class="form-control" />
                    <span asp-validation-for="@Model.Kunde.Efternavn" class="text-danger"></span>
                </div>
            </div>
        </div>

		@*Email og telefonnummer Row*@
        <div class="row">
            <div class="col">
                <div class="form-group">
                    <label asp-for="@Model.Kunde.Email" class="control-label"></label>
                    <input asp-for="@Model.Kunde.Email" class="form-control" />
                    <span asp-validation-for="@Model.Kunde.Email" class="text-danger"></span>
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <label asp-for="@Model.Kunde.Telefonnummer" class="control-label"></label>
                    <input asp-for="@Model.Kunde.Telefonnummer" class="form-control" />
                    <span asp-validation-for="@Model.Kunde.Telefonnummer" class="text-danger"></span>
                </div>
            </div>
        </div>
    </div>

    @*Start på event detaljer*@
    <h2>Book event</h2>

    <div class="container">
		
		@*Privat/offentlig og antal gæster Row*@
        <div class="row">
            <div class="col">
				<p>Privat / Offentlig - Event</p>
                <div class="form-check form-check-inline">
                    <label asp-for="@Model.Event.PrivatEvent" class="form-check-label" for="flexRadioDefault1">Ja</label>
                    <input asp-for="@Model.Event.PrivatEvent" class="form-check-input" value="true" type="radio" name="flexRadioDefault" id="flexRadioDefault1" checked />
                </div>
                <div class="form-check form-check-inline">
                    <label asp-for="@Model.Event.PrivatEvent" class="form-check-label" for="flexRadioDefault2">Nej</label>
                    <input asp-for="@Model.Event.PrivatEvent" class="form-check-input" value="false" type="radio" name="flexRadioDefault" id="flexRadioDefault2" />
                </div>
            </div>
			<div class="col">
                <div class="form-group form-group-inline">
                    <label asp-for="@Model.Event.AntalPersoner" class="control-label"></label>
                        <input asp-for="@Model.Event.AntalPersoner" class="form-control" />
                        <span asp-validation-for="@Model.Event.AntalPersoner" class="text-danger"></span>
                </div>
            </div>
            
		</div>

        @*Row med Titel og Dag/Dato*@
        <div class="row">
            <div class="col">
                <div class="form-group">
                    <label asp-for="@Model.Event.Titel" class="control-label"></label>
                    <input asp-for="@Model.Event.Titel" class="form-control" />
                    <span asp-validation-for="@Model.Event.Titel" class="text-danger"></span>
                </div>
            </div>
            

        </div>

        <div class="row">
            <div class="col">
                <div class="form-group">
                    <label asp-for="@Model.Event.Dato" class="control-label">Hej med dig</label>
                    <input asp-for="@Model.Event.Dato" class="form-control" />
                    <span asp-validation-for="@Model.Event.Dato" class="text-danger"></span>
                </div>
            </div>

            @*<div class="col">
                <div class="form-group">
                    <label asp-for="@Model.Event.Dato" class="control-label"></label>
                    <input asp-for="@Model.Event.Dato" class="form-control" />
                    <span asp-validation-for="@Model.Event.Dato" class="text-danger"></span>
                </div>
            </div>*@

        </div>


        
		
    </div>

    <button type="submit" class="btn btn-primary">Bestil</button>
</form>
