@page "{id:int}"
@model BarEventPlannerV2.Pages.Event.GetEventModel
@{
}
@*skrevet af Andreas Dragsberg*@

<div class="container" style="color: white; text-shadow: 2px 2px 0px black;">
    <h1>@Model.Event.Titel</h1>
    <p>@Model.Event.StartTidspunkt - @Model.Event.SlutTidspunkt</p>
    <h5>Kunde</h5>
    <p>@Model.Kunde.Fornavn @Model.Kunde.Efternavn</p>
    <p>Tlf.: @Model.Kunde.Telefonnummer</p>
    <p>Email: @Model.Kunde.Email</p>
    @if (Model.Event.PrivatEvent == true)
    {
        <p>Adgang: Privat</p>
    }
    else 
    {
        <p>Adgang: Offentlig</p>
    }
    <h5><label asp-for="@Model.Event.Beskrivelse" class="control-label"></label></h5>
    <p>@Model.Event.Beskrivelse</p>


    
    <h5><label asp-for="@Model.Event.Kommentar" class="control-label"></label></h5>
    <p>@Model.Event.Kommentar</p>
    

    <div>
        <div>

        </div>
    </div>
</div>